{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<script>
  function vote_question(kind) {
      $.post("/posts/question/" + "{{ question.id }}" + "/vote/" + kind + "/", {}, 
      function(data)
      {
        if (data['msg'])
        {
            $.modal(data['msg']);
            return;
        }
        $(".vote-count").text(data['count']);
        colorizeArrows(data['vote'])
      }, "json");
  }
  
  function vote_answer(kind, aid) {
      $.post("/posts/answer/" + aid + "/vote/" + kind + "/", {}, 
      function(data)
      {
        if (data['msg'])
        {
            $.modal(data['msg']);
            return;
        }
        $("#"+aid+">.vote-count").text(data['count']);
        colorizeAnswerArrows(data['vote'], aid);
      }, "json");
  }

  function colorizeAnswerArrows(vote, aid)
  {
        if (vote == 1)
        {
            $("#"+aid+">.upvote_answer").removeClass("no_vote").addClass("voted_up");
            $("#"+aid+">.downvote_answer").removeClass("voted_down").addClass("no_vote");
        }
        else if (vote == -1)
        {
            $("#"+aid+">.downvote_answer").removeClass("no_vote").addClass("voted_down");
            $("#"+aid+">.upvote_answer").removeClass("voted_up").addClass("no_vote");
        }
        else
        {
            $("#"+aid+">.upvote_answer").removeClass("voted_up").addClass("no_vote");
            $("#"+aid+">.downvote_answer").removeClass("voted_down").addClass("no_vote");
        }
  }

  function colorizeArrows(vote)
  {
        if (vote == 1)
        {
            $(".upvote").removeClass("no_vote").addClass("voted_up");
            $(".downvote").removeClass("voted_down").addClass("no_vote");
        }
        else if (vote == -1)
        {
            $(".downvote").removeClass("no_vote").addClass("voted_down");
            $(".upvote").removeClass("voted_up").addClass("no_vote");
        }
        else
        {
            $(".upvote").removeClass("voted_up").addClass("no_vote");
            $(".downvote").removeClass("voted_down").addClass("no_vote");
        }
  }

  function addClickHandlers() {
    $(".upvote").click( function() { vote_question("1"); return false; });
    $(".downvote").click( function() { vote_question("2"); return false; });
    $(".upvote_answer").click( function() { vote_answer("1", $(this).parent().attr('id'));
                                            return false; });
    $(".downvote_answer").click( function() { vote_answer("2", $(this).parent().attr('id')); 
                                            return false; });

    $(".comment-show").click( function() { $(this).hide("fast").prev().show("fast");});
  }

  function pageSetup() {
        $('<span class="comment-show">Add a comment...</span>').insertAfter(".comment-form");
        $(".comment-form").hide();
        addClickHandlers();
        colorizeArrows({{your_vote}});
        {% for vote in answer_votes%}
            colorizeAnswerArrows({{vote.score}},"{{vote.answer.id}}");
        {% endfor %}
  }

  $(document).ready(pageSetup);
  </script>

  <div style="width: 100%;">
    <div class='voting-block'>
        <span class="upvote no_vote">▲</span>
        <br /><span class="vote-count no_vote">{{question.score}}</span><br />
        <span class="downvote no_vote">▼</span>
    </div>
    <div class='question-div'>
        <div class='question-body'>
            <h2>{{ question.title }}</h2>
            {{ question.body }} <br />
            {% if question.tags %}
                <div class="tags">
                {% for tag in question.tags %}
                    <a class="post-tag" href="#">{{ tag }}</a>
                {% endfor %}
            </div>
            {% endif %}
             </br>
        </div>
        <div class="posted-by">
            {{ question.author.get_gravatar()|safe }} <br/>
                By: 
                <a href="/users/{{question.author.id}}">
                    {{ question.author.username }}
                </a> 
                <br />@ {{ question.created|timesince }}
            </div>
        </div>
        <div class="comments">
            <ul>
            {% for comment in question.comments %}
                <li class="comment">
                {{ comment.body }} -<a href="/users/{{comment.author.id}}">
                    {{ comment.author.username }}
                </a> 
 @
                {{ comment.created|timesince }} </li>
                {% endfor %}
             </ul>
            <div class="form-submit-small comment-form" style="float:left;">
                <form action="/posts/question/{{question.id}}/comment/" method="post" 
                    style="float:left; width:100%;">
                    <textarea class="comment-entry" id="comment_body" 
                        name="comment_body"></textarea>
                    <input class="comment-button" type="submit" value="Add a comment"/>
                </form>
            </div>
    </div>    
<div class='answers-div'>
    <h3>{{ question.answers|length }} Answer(s)</h3>
    {% for answer in question.answers|sort(True) %}
    <div id="{{answer.id}}" class='voting-block'>
        <span class="{{answer.id}} upvote_answer no_vote">▲</span>
        <br /><span class="{{answer.id}} vote-count no_vote">{{answer.score}}</span><br />
        <span class="{{answer.id}} downvote_answer no_vote">▼</span>
    </div>

    <div class='answer-content'>
            <div class='answer-body'>
                {{ answer.body }} <br />
            </div>
            <div class="posted-by">
                {{ answer.author.get_gravatar()|safe }} <br/>
                By: 
                <a href="/users/{{answer.author.id}}">
                    {{ answer.author.username }}
                </a> 
                <br />@ {{ answer.created|timesince }}
            </div>
            <div class="comments">
            <ul>
            {% for comment in answer.comments %}
                <li class="comment">
                {{ comment.body }} -<a href="/users/{{comment.author.id}}">
                    {{ comment.author.username }}
                </a> 
 @
                {{ comment.created|timesince }} </li>
                {% endfor %}
             </ul>
            <div class="form-submit-small comment-form" style="float:left;">
                <form action="/posts/question/{{question.id}}/answer/{{answer.id}}/comment/" 
                    method="post" 
                    style="float:left; width:100%;">
                    <textarea class="comment-entry" id="comment_body" 
                        name="comment_body"></textarea>
                    <input class="comment-button" type="submit" value="Add a comment"/>
                </form>
            </div>
    </div>    
    </div>
    {% endfor %}
</div>
<div style="float:left;">
    <form method="POST" action="/posts/question/{{question.id}}/answer/">
    <h3>Your Answer</h3>
    <textarea class="answer-entry" id="answer_body" 
                        name="answer_body"></textarea>
  <p><div class="form-submit"><input type=submit value="Post an Answer"></div>
</form>
</div>

</div>
{% endblock %}
