<!doctype html public '-//W3C//DTD HTML 4.01//EN'
  'http://www.w3.org/TR/html4/strict.dtd'>
<html>
  <head>
      <title>MongoOverflow - {{ title }}</title>
      <script type="text/javascript" src="/media/jquery-1.2.1.js"></script>
    <link rel="stylesheet" href="/static/Steely.css" type="text/css">
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
  </head>
  <body>
    <div class="container" style="width:1050px;margin-left:auto;margin-right:auto; margin-top:0; margin-bottom:0;">
        <div class="header" style="width:100%; border-bottom-width: 1px; border-bottom-color:#555555; border-bottom-style:solid;height:130px;">
            <div class='login-panel'>
                {% if g.user %}
                Welcome <a href='question/{{g.user.id}}'>{{ g.user.username }}</a>,
                Your rep is {{g.user.rep}} | <a href='/logout'>Logout</a>
                {% else %}
                <a href='/login'>Login</a> | <a href='#'>Register</a>
                {% endif %}
            </div>
            <div id="logo" style="float:left; width:345px; margin-top:35px; padding-left:5px;">
                <h1><a href="/">Mongo Overflow</a></h1>
                It's like Stack Overflow, but worse!                
            </div>
            <div id="menu" style="float:left; width:695px; padding-left: 5px; margin-top:65px;">
                <div style="float:left;">
                    <ul class="menu">
                        <li><a href='/questions/'>questions</a>
                        <li><a href='/users/'>users</a>
                        <li><a href='/questions/unanswered/'>unanswered</a>
                    </ul>
                </div>
                <div style="float:right;">
                    <ul>
                        <li><a href='/questions/ask/'>ask a question</a>
                    </ul>
                </div>
            </div>
        </div>
        <div id="content" style="min-height:450px; width:100%;">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </div>
    <br />
    <div id="footer" style="width:1050px; margin: 0pt auto; border-top-width: 1px; border-top-color:#555555; border-top-style:dashed; text-align: center; font-size:75%; color:#555555;clear:both;">
        Created with MongoDB, MongoEngine, Flask, and the magic of Python!
    </div>
</body>
</html>
