<body>
    <div class="container">
        <div id="header">
            <div id="logo">
                <h1>Mongo Overflow</h1>
                It's like StackOverflow, but worse!                
            </div>
            <div id="menu">
                <ul>
                </ul>
            </div>
        </div>
        <hr>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <hr>
    <div id="footer">
        Created with mongoDB, MongoEngine, Django, and the magic of Python!
    </div>

</body>
