{% extends "base.html" %}

{% block content %}
<div style="float:left; width: 100%;">
<div id='question'>
            <h2>{{ question.title }}</h2>
            {{ question.body }} <br />
            {% for tag in question.tags %}
                {{ tag }}, 
            {% endfor %}
            <br />
            By: {{ question.author.name }} @ {{ question.created|date:"jS F Y H:i" }}
            <ul class="comment">
            {% for comment in question.comments %}
                <li class="comment">
                {{ comment.body }} - {{ comment.author.name }} @
                {{ comment.created|date:"jS F Y H:i" }} </li>
            {% endfor %}
            </ul>
</div>

<h3>{{ question.answers|length }} Answer(s)</h3>
<div id='answers'>
    {% for answer in question.answers %}
            {{ answer.body }} <br />
            By: {{ answer.author.name }} @ {{ answer.created|date:"jS F Y H:i" }}
                        <ul class="comment">
            {% for comment in answer.comments %}
                <li class="comment">
                {{ comment.body }} - {{ comment.author.name }} @
                {{ comment.created|date:"jS F Y H:i" }} </li>
            {% endfor %}
            </ul>
    {% endfor %}
</div>
<h3>Your Answer</h3>
<form action="" method="post">
    <table>
        {{ form.as_table }}
        <tr>
            <th></th><td><input type="submit" value="Post an Answer" /></td>
        </tr>
    </table>
</form>

</div>
{% endblock %}
