{% extends "base.html" %}

{% block content %}
<div style="float:left; width: 100%;">
<div id='question'>
            <h2>{{ question.title }}</h2>
            {{ question.body }} <br />
            {% if question.tags %}
                <div>
                {% for tag in question.tags %}
                    <a class="post-tag" href="#">{{ tag }}</a>
                {% endfor %}
                </div>
            {% endif %}
            <br />
            By: {{ question.author.username }} @ {{ question.created|date:"jS F Y H:i" }}
            <ul>
            {% for comment in question.comments %}
                <li class="comment">
                {{ comment.body }} - {{ comment.author.username }} @
                {{ comment.created|date:"jS F Y H:i" }} </li>
            {% endfor %}
            <li class="comment">
            <div class="form-submit-small" style="float:left;">
                <form action="" method="post" style="float:left; width:100%;">
                {{ comment_form }}
                    <input type="submit" value="Add a comment" 
                    style="background-color:#5AAF4B; color:#ffffff;
font-size:80%; padding-top:2px;"/>
                </form>
            </div>  
            </li>
        </ul>
        <br />
        <br />
</div>

<h3>{{ question.answers|length }} Answer(s)</h3>
<div id='answers'>
    {% for answer in question.answers %}
            {{ answer.body }} <br />
            By: {{ answer.author.username }} @ {{ answer.created|date:"jS F Y H:i" }}
                        <ul class="comment">
            {% for comment in answer.comments %}
                <li class="comment">
                {{ comment.body }} - {{ comment.author.username }} @
                {{ comment.created|date:"jS F Y H:i" }} </li>
            {% endfor %}
            </ul>
    {% endfor %}
</div>
<h3>Your Answer</h3>
<form action="" method="post">
    {{ answer_form }}
    <div class="form-submit">
        <input type="submit" value="Post an Answer" style="display:block;"/>
    </div>
</form>

</div>
{% endblock %}
