{% extends "base.html" %}

{% block content %}
<script>
  function vote(kind) {
    $.getJSON("/vote/", { qid:"{{ question.id }}", vote: kind }, function(json){
        $("#vote-count").html(json['count']);
    });
  }
  function addClickHandlers() {
    $("#upvote").click( function() { vote("up") });
    $("#downvote").click( function() { vote("down") });
 }
 $(document).ready(addClickHandlers);
  </script>
      {% if user in question.voters %}
        you have voted for this question already
      {% endif %}

  <div style="width: 100%;">
    <div class='voting-block'>
        <span id="upvote">+</span>
        <br /><span id="vote-count">{{question.score}}</span><br />
        <span id="downvote">-</span>
    </div>
    <div class='question-div'>
        <div class='question-body'>
            <h2>{{ question.title }}</h2>
            {{ question.body }} <br />
            {% if question.tags %}
                <div class="tags">
                {% for tag in question.tags %}
                    <a class="post-tag" href="#">{{ tag }}</a>
                {% endfor %}
            </div>
            {% endif %}
             </br>
        </div>
            <div class="posted-by">
                By: 
                <a href="/users/{{question.author.id}}">
                    {{ question.author.username }}
                </a> 
                <br />@ {{ question.created|date:"jS F Y H:i" }}
            </div>
        </div>
        <div class="comments">
            <ul>
            {% for comment in question.comments %}
                <li class="comment">
                {{ comment.body }} -<a href="/users/{{comment.author.id}}">
                    {{ comment.author.username }}
                </a> 
 @
                {{ comment.created|date:"jS F Y H:i" }} </li>
            {% endfor %}
            <li class="comment">
            <div class="form-submit-small" style="float:left;">
                <form action="" method="post" style="float:left; width:100%;">
                {{ comment_form }}
                    <input type="submit" value="Add a comment" 
                    style="background-color:#5AAF4B; color:#ffffff;
font-size:80%; padding-top:2px;"/>
                </form>
            </li>
        </ul>
    </div>
        <br />
        <br />
    </div>    
<div class='answers-div'>
    <h3>{{ question.answers|length }} Answer(s)</h3>
    {% for answer in question.answers %}
    <div class='voting-block'>
        +
        <br />{{answer.score}}<br />
        -
    </div>

    <div class='answer-content'>
            <div class='answer-body'>
                {{ answer.body }} <br />
            </div>
            <div class="posted-by">
                By: 
                <a href="/users/{{answer.author.id}}">
                    {{ answer.author.username }}
                </a> 
                <br />@ {{ answer.created|date:"jS F Y H:i" }}
            </div>
            <div class="comments">
                <ul>
                {% for comment in answer.comments %}
                    <li>
                    {{ comment.body }} - {{ comment.author.username }} @
                    {{ comment.created|date:"jS F Y H:i" }} </li>
                {% endfor %}
                </ul>
            </div>
    </div>
    {% endfor %}
</div>
<div style="float:left;">
<h3>Your Answer</h3>
<form action="" method="post">
    {{ answer_form }}
    <div class="form-submit">
        <input type="submit" value="Post an Answer" style="display:block;"/>
    </div>
</form>
</div>

</div>
{% endblock %}
