ul
{
    padding:0;
    margin:0;
    font-family: arial, helvetica, sans-serif;
    list-style-position: outside;
    list-style-type: none;
}

#comment li
{
    background-color:gray;
}

#menu ul
{
    color:#fff;
    list-style-type: disc;
}


#menu li
{
    display: block;
    float: left;
    list-style-type: disc;
    list-style-position: outside;
    margin-right: 5px;
}

#menu li a
{
    padding:0.2em 1em;
    background:#3f2917;
    color:#ffffff;
    text-decoration:none;
    float:left;
    border:1px solid #000;
}

#menu li a:hover
{
    background:#5aaf4b;
    color:#ffffff;
}

.header
{
    background:#f6f4cd;
}

